:root {
  --blue:#1f4e9d;
  --bg-blue:#edf4ff;
  --red:#cf4a37;
  --bg-red:#fee2de;
  --bg-gray:#EEE;
}
:visited {
  color:blue;
}
.container {
  width:100%;
  max-width:1000px;
  padding:20px 10px;
  box-sizing:border-box;
}
header {
  position:sticky;
  top:0;
  background:var(--blue);
  color:white;
}
header .container {
  display:flex;
  justify-content:space-between;
}
header .container > * {
  display:flex;
  gap:10px;
  align-items:center;
}
header .container > :first-child {
  justify-content:flex-start;
}
header .container > :last-child {
  justify-content:flex-end;
}
main > :not(:first-child) {
  margin-top:10px;
}
.intro-text{
  font-size:14px;
  font-style:italic;
}
.faq-box {
  display:flex;
  flex-direction:column;
  gap:25px;
}
.faq:not(:first-child) {
  margin-top:10px;
}
.faq .q-row {
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  justify-content:flex-start;
  align-items:center;
}
.faq .q {
  padding:5px 10px;
  color:blue;
  text-decoration:underline;
  font-style:italic;
}
.faq .q:hover {
  cursor:pointer;
  color:var(--red);
}
.faq .tag {
  display:inline-block;
  font:8px Consolas;
  border-radius:3px;
  padding:3px;
  background:#EEE;
}
.faq .a.hide {
  display:none;
}
.faq .a {
  font:16px Georgia;
  margin:5px;
}
.faq .a ol {
  padding:0 0 0 15px;
  margin:0;
  display:flex;
  flex-direction:column;
  gap:8px;
}

#this-body {
  font:14px system-ui;
  padding:0 20px 20px 20px;
}
#this-body > .filled {
  background-color:#F5f5f5;
  margin-top:10px;
}
.heading {
  font:18px Georgia;
  color:var(--red);
  margin-bottom:5px;
}
.filled {
  background-color:white;
  color:var(--blue);
  text-decoration:none !important;
  padding:15px;
  border-radius:10px;
  transition:all 0.3s;
}
.show-skill {
  display:initial !important;
}
#skill-menu-div {
  text-align:center;
  border-top:1px solid #CCC;
  border-bottom:1px solid #CCC;
  padding:10px 0;
}
#skill-menu {
  display:flex;
  justify-content:center;
  white-space:nowrap;
}
#skill-menu .item {
  padding:8px 15px;
  border-radius:50px;
  transition:all 0.3s;
}
#skill-menu .item:hover {
  color:var(--red);
  cursor:pointer;
}
#skill-menu .item.selected {
  background-color:var(--blue);
  color:white; 
}
#skill-title {
  font:30px Georgia;
  margin:10px 0;
  text-align:center;
}
#skill-html img {
  border:1px solid #CCC;
  box-shadow:3px 3px 3px #AAA;
  width:70%;
}
.footnote {
  font-size:10px;
}
#resources {
  list-style-type:none;
  padding:0;
  display:flex;
  flex-direction:column;
  gap:5px;
}
#resources li a {
  display:flex;
  gap:10px;
}
#resources li a:hover {
  color:var(--red);
}
#resources li a .name {
  font-size:16px;
  width:20%;
  min-width:150px;
}

