/* tools */
.filled {
  background-color:white;
  color:var(--blue);
  text-decoration:none !important;
  padding:15px;
  border-radius:10px;
  transition:all 0.3s;
}
.footnote {
  font-size:10px;
}


/* in order */
:root {
  --blue:#1f4e9d;
  --bg-blue:#edf4ff;
  --red:#cf4a37;
  --bg-red:#fee2de;
  --bg-gray:#EEE;
}
:visited {
  color:blue;
}
.container {
  width:100%;
  max-width:1000px;
  padding:20px 10px;
  box-sizing:border-box;
}
header {
  position:sticky;
  top:0;
  background:var(--blue);
  color:white;
}
header .container {
  display:flex;
  justify-content:space-between;
}
header .container > * {
  display:flex;
  gap:10px;
  align-items:center;
}
header .container > :first-child {
  justify-content:flex-start;
}
header .container > :last-child {
  justify-content:flex-end;
}
main > :not(:first-child) {
  margin-top:10px;
}
.intro-text{
  font-size:14px;
  font-style:italic;
}
.faq-box {
  display:flex;
  flex-direction:column;
  gap:15px;
}
.faq:not(:first-child) {
  margin-top:10px;
}
.faq .q-row {
  display:flex;
  flex-wrap:wrap;
  gap:5px;
  justify-content:flex-start;
  align-items:center;
}
.faq .q {
  color:blue;
  text-decoration:underline;
  font-family:Georgia, serif;
}
.faq .q:hover {
  cursor:pointer;
  color:var(--red);
}
.faq .tag {
  display:inline-block;
  font:10px Consolas, monospace;
  border-radius:3px;
  padding:3px;
  background:#EEE;
}
.faq .a.hide {
  display:none;
}
.faq .a {
  font:16px Georgia;
  margin:5px;
}
.faq .a ol {
  padding:0 0 0 15px;
  margin:0;
  display:flex;
  flex-direction:column;
  gap:8px;
}

