/* tools */
.footnote {
  font-size:10px;
}
.hide {
  display:none;
}
.main-font {
  font-family:Georgia, serif;
}
.alt-font {
  font-family:Century Gothic, Verdana, Arial;
}
.button {
  display:inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--red);
  color: white;
  font-size:12px;
  text-decoration: none;
}

/* in order */
:root {
  --blue:#1f4e9d;
  --bg-blue:#edf4ff;
  --red:#cf4a37;
  --bg-red:#fee2de;
  --bg-gray:#EEE;
}
:visited {
  color:blue;
}
body {
  margin:0;
  font-family:Georgia, serif;
}
.container {
  width:100%;
  max-width:1000px;
  box-sizing:border-box;
  margin-left:auto;
  margin-right:auto;
}
header {
  position:sticky;
  top:0;
  background:var(--blue);
  color:white;
}
header .container {
  padding:10px;
  display:flex;
  justify-content:space-between;
  gap:20px;
}
header .container > * {
  display:flex;
  flex:1 0 auto;
  gap:10px;
  align-items:center;
}
header .container > :first-child {
  justify-content:flex-start;
}
header .container > :last-child {
  justify-content:flex-end;
}
header .page-logo {
  height:1.5em;
  padding: 10px;
  background: white;
  border-radius: 5px;
}
header .page-title {
  font-size:20px;
}
header #search-box {
  box-sizing: border-box;  
  padding: 1em 2em;
  width: 100%;
  max-width: 300px;
  border-radius: 50px;
  border: none;
}
header #filter-icon {
  cursor:pointer;
  padding:5px;
  border-radius:5px;
}
header #filter-icon.open {
  background: white;
  color: blue;
}
header #filter-menu {
  padding:20px;
}
main > :not(:first-child) {
  margin-top:10px;
}
.intro-text{
  font-size:14px;
  font-style:italic;
}
.faq-box.container {
  padding:10px;
}
.faq-box {
  display:flex;
  flex-direction:column;
  gap:15px;
}
.faq:not(:first-child) {
  margin-top:10px;
}
.faq .q-row {
  display:flex;
  flex-wrap:wrap;
  gap:5px;
  justify-content:flex-start;
  align-items:center;
}
.faq .q {
  color:blue;
  text-decoration:underline;
}
.faq .q:hover {
  cursor:pointer;
  color:var(--red);
}
.faq .tag {
  display:inline-block;
  font:10px Consolas, monospace;
  border-radius:3px;
  padding:3px;
  background:#EEE;
}
.faq .a {
  margin-top:5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
transition:all 0.3s;
}
.faq .a .a-opts {
  display:flex;
  gap:10px;
  align-items:center;
  justify-content: flex-end;
}
.faq .a .more-help {
  font-size:12px;
}
.faq .a.content {
  font-size:16px;
  background-color: var(--bg-red);
  color: #333;
  padding: 20px 10px;
  border-radius: 5px;
}
.faq .a.content ol {
  padding:0 0 0 15px;
  margin:0;
  display:flex;
  flex-direction:column;
  gap:8px;
}
.faq .a iframe {
  border: 1px solid black;
  box-shadow: 3px 3px 3px gray;
  width:calc(100% - 40px);
  min-height:600px;
}

